{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
  <h2 class="text-center mb-4">List of All the Quotes:</h2>

  {% for quote in quotes %}
    <div class="p-5 text-center bg-body-tertiary rounded-3 mb-4">
      <p class="lead">{{ quote.body }} - <strong>{{ quote.author }}</strong></p>
      
      <!-- Like button with Bootstrap heart icon -->
      <div class="d-flex justify-content-center align-items-center">
        <button class="btn btn-outline-danger like-button" 
                data-quote-id="{{ quote.pk }}" 
                data-liked="{{ quote.liked }}">
          {% if quote.liked %}
            Unlike
          {% else %}
             Like
          {% endif %}
        </button>
        <span class="m-3">{{ quote.count_likes }} likes</span> 
      </div>
    </div>
  {% endfor %}
</div>
{% endblock content %}
